
	<div class="row"> 
		<div class="tile" id="t11">
			<div><%=t('tiles.t11') %></div>
		</div>
		<div class="tile" id="t12">
			<div><%=raw t('tiles.t12')%></div>
		</div>
		<div class="tile" id="t13">
			<%= image_tag '13-200x150.png'%>
			<div>
			</div>
		</div>
	</div>
	<div class="row"> 
		<div class="tile" id="t21">
			<%= image_tag '21-200x150.png'%>
			<div><%=t 'tiles.t21'%></div>
		</div>
		<div class="tile" id="t22">
			<%= image_tag '22-200x150.png'%>
			<div><%=t 'tiles.t22'%></div>
		</div>
		<div class="tile" id="t23">
			<%= image_tag '23-200x150.png'%>
			<div><%=t 'tiles.t23'%></div>
		</div>
	</div>
	<div class="row"> 
		<div class="tile" id="t31">
			<%= image_tag '31-200x152.png'%>
			<div><%=t 'tiles.t31'%></div>
		</div>
		<div class="tile" id="t32">
			<%= image_tag '32-200x150.png'%>
			<div><%=t 'tiles.t32'%></div>
		</div>
		<div class="tile" id="t33">
			<%= image_tag '33-195x215.png'%>
			<div><%=t 'tiles.t33'%></div>
		</div>
	</div>
