
	<div class="row"> 
		<div class="tile" id="t11">
			<div><%=t 'tiles.t11'%></div>
		</div>
		<div class="tile" id="t12">
			<div><%=raw t('tiles.t12')%></div>
		</div>
		<div class="tile" id="t13">
			<div>Плитка 1-3</div>
		</div>
	</div>
	<div class="row"> 
		<div class="tile" id="t21">
			<div><%=t 'tiles.t21'%></div>
		</div>
		<div class="tile" id="t22">
			<%= image_tag '22-200x150.png'%>
			<div><%=t 'tiles.t22'%></div>
		</div>
		<div class="tile" id="t23">
			<div><%=t 'tiles.t23'%></div>
		</div>
	</div>
	<div class="row"> 
		<div class="tile" id="t31">
			<div><%=t 'tiles.t31'%></div>
		</div>
		<div class="tile" id="t32">
			<div><%=t 'tiles.t32'%></div>
		</div>
		<div class="tile" id="t33">
			<div><%=t 'tiles.t33'%></div>
		</div>
	</div>
