<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= t 'servises.edit.section' %>
  <%= f.collection_select( :section_id, Section.all, :id, :name_int ) %>
  <br/>
  <%= f.label 'Український, назва:' %>
  <%= f.text_field :name_ua %><br/>
  <%= f.label 'зміст:' %>
  <%= f.text_area :text_ua %>
  <br/>
  <%= f.label 'English, name:' %>
  <%= f.text_field :name_en %><br/>
  <%= f.label 'content' %>
  <%= f.text_area :text_en %>
  <br/>
  <%= f.label 'Русский' %>
  <%= f.text_field :name_ru %><br/>
    <%= f.label 'содержание' %>
  <%= f.text_area :text_ru %>
  <br/>
  <div class="actions">
    <%= f.submit t('services.save')%>
  </div>
<% end %>
