<h1 class="header"><%=t 'services.header' %></h1>

<% @groups_services.each do |section, services| %>

  <ul class="section_name" id="<%= section.id %>">
    <li>
      <%= image_tag 'handy-icon_01.png', class: 'list_marker'%>

      <h2><%=t( section.name )%></h2>

      <% services.each do |service| %>

      <ul class="service">
        <li>
          <h3><%=raw( sanitize( service.name( I18n.locale ) ) )%></h3>
          <div class="service_text"><%=raw( sanitize( service.text( I18n.locale ) ) )%></div>
          <p class="links">
            <%= admin_link_to service.section, t('services.edit'), edit_service_path(service) %> 
            <%= admin_link_to service.section, t('services.destroy'), service, method: :delete, data: { confirm: t('Are_you_sure?') } %>
          </p>
        </li>
      </ul>

      <% end %>

    </li>
  </ul>

<% end %>

<br />

<%= link_to t('services.new'), new_service_path if current_user%>
