<h1 class="header"><%=t 'services.header' %></h1>

<% @groups_services.each do |section, services| %>

<ul class="section_name">
  <li>
    <h2><%=t( section.name )%></h2>

    <% services.each do |service| %>

    <ul class="service">
      <li>
        <h3><%=raw( sanitize( service.name( I18n.locale ) ) )%></h3>
        <p class="text"><%=raw( sanitize( service.text( I18n.locale ) ) )%></p>
        <p class="links">
          <%= link_to 'Show', service %> |
          <%= link_to 'Edit', edit_service_path(service) %> |
          <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </li>
    </ul>

    <% end %>

  </li>
</ul>

<% end %>

<br />

<%= link_to 'New Service', new_service_path %>