<h1 class="header"><%=t 'newses.header' %></h1>

<% @newses.each do |newse| %>

  <ul class="section_name" id="<%= newse.id %>">
    <li>
      <%= image_tag 'news1.jpg', class: 'list_marker'%>
      <h3><%=raw( sanitize( newse.name( I18n.locale ) ) )%></h3>
      <div class="newse_text"><%= 

        sanitize( newse.text( I18n.locale ) ) 

      %></div>
      <p class="links">
        <%= admin_link_to newse.section, t('newses.edit'), edit_newse_path(newse) %> 
        <%= admin_link_to newse.section, t('newses.destroy'), newse, method: :delete, data: { confirm: t('Are_you_sure?') } %>
        <%= newse.updated_at.strftime("%d.%m.%Y") %>
      </p>

    </li>
  </ul>

<% end %>

<br />

<%= link_to t('newses.new'), new_newse_path if current_user%>
