<h1>Listing user_sections</h1>

<table>
  <tr>
    <th>User</th>
    <th>Section</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_sections.each do |user_section| %>
  <tr>
    <td><%= user_section.user %></td>
    <td><%= user_section.section %></td>
    <td><%= link_to 'Show', user_section %></td>
    <td><%= link_to 'Edit', edit_user_section_path(user_section) %></td>
    <td><%= link_to 'Destroy', user_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User section', new_user_section_path %>
