<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_section.user %>
</p>

<p>
  <b>Section:</b>
  <%= @user_section.section %>
</p>


<%= link_to 'Edit', edit_user_section_path(@user_section) %> |
<%= link_to 'Back', user_sections_path %>
