<!DOCTYPE html>
<html lang=ru>
<head>
	<title>Icc</title>
	
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
 	<%= csrf_meta_tags %>
	<meta charset="utf-8">
</head>

<body>
<div id='all_wrapper'>
	<header>
		<div id='logo'>Логотип ICC ltd.</div>
		<div id='name'>
			<h2>INVESTMENT CONSULTING CENTRE</h2>
			<h2>ЦЕНТР ІНВЕСТИЦІЙНОГО КОНСАЛТИНГУ</h2>
	</header>
	<div id='lang-selector'><span><a href="#">ru</a>|<a href="#">en</a>|<a href="#">ua</a></span></div>
	<nav>
		<ul id='menu'>
			<li class='selected'><%=t 'menu.main' %></li> 
			<li><%=t 'menu.services' %></li>
			<li><%=t 'menu.news' %></li>
			<li><%=t 'menu.contacts' %></li>
		</ul>
	</nav>
	
	<section id='content'>
		<%= yield %>
	</section>
	<footer>
	</footer>

</div>		
</body>

</html>
