<!DOCTYPE html>
<html lang=ru>
<head>
	<title>Icc</title>
	
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
 	<%= csrf_meta_tags %>
	<meta charset="utf-8">
</head>

<body>
<div id='all_wrapper'>
	<header>
		<div id='header'>
			<div id='logo'>
				<%= image_tag 'logo.png' %>
			</div>
			<div id='name'>
				<h2>INVESTMENT CONSULTING CENTRE</h2>
				<h2>ЦЕНТР ІНВЕСТИЦІЙНОГО КОНСАЛТИНГУ</h2>
			</div>
		</div>
	</header>
	<div id='lang-selector'><span><a href="#">ru</a>|<a href="#">en</a>|<a href="#">ua</a></span></div>
	<nav>
		<ul id='menu'>
			<li>
				<%=link_to_if(@selected_page=='main', t('menu.main'), :main, :remote=>true, :class=>'selected') do
					link_to( t('menu.main'), :main, :remote=>true)
				end%>
			</li>

			<li>
				<%=link_to_if(@selected_page=='services', t('menu.services'), :services, :remote=>true, :class=>'selected') do
					link_to( t('menu.services'), :services, :remote=>true)
				end%>
			</li>

			<li>
				<%=link_to_if(@selected_page=='news', t('menu.news'), :newses, :remote=>true, :class=>'selected') do
					link_to( t('menu.news'), :newses, :remote=>true)
				end%>
			</li>
			<li>
				<%=link_to_if(@selected_page=='contacts', t('menu.contacts'), :contacts, :remote=>true, :class=>'selected') do
					link_to( t('menu.contacts'), :contacts, :remote=>true)
				end%>
			</li>
		</ul>
	</nav>
	<div id='content'>
		<%= yield %>
	</div>
	<div style="height:1px;overflow:hidden;clear:both;"></div>
	<footer>
		<div id='footer'>
			<%=t 'footer.copyright' %>
			<%=link_to t('footer.login'), :new_user_session %>
			<%=link_to t('footer.logout'), :destroy_user_session, :method=>:delete%>
		</div>
	</footer>
	
</div>		
</body>

</html>
